



{% extends "base/base.html" %}

{% block title %}
  CREATE GRANT GOAL VIEW CLIENT
{% endblock title %}

{% block content %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-outline-success">Create GrantGoal</button>
        <a href="{% url 'api:api_list_grantgoal' %}" class="btn btn-outline-warning">Cancel</a>
    </form>
{% endblock content %}