


{% extends "base/base.html" %}

{% block title %}
  LIST GRANT GOAL CLIENT VIEW
{% endblock title %}

{% block content %}
  <table class="table">
    <thead>
        <th>ID</th>
        <th>GOAL TITLE</th>
        <th>USER</th>
        <th>TIMESTAMP</th>
        <th>STATUS</th>
        <th></th>
        <th>ACTIONS</th>
        <th></th>
    </thead>
    <tbody>
        {% for gg in grantgoals %}
            <tr>
                <td>{{ gg.id }}</td>
                <td>{{ gg.gg_title }}</td>
                <td>{{ gg.user }}</td>
                <td>{{ gg.timestamp }}</td>
                <td>{{ gg.status }}</td>
                <td><a href="">Detail</a></td>
                <td><a href="">Update</a></td>
                <td><a href="">Delete</a></td>
            </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock content %}